@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 25% 20%;
    --card: 240 50% 98%;
    --card-foreground: 275 25% 20%;
    --popover: 240 50% 98%;
    --popover-foreground: 275 25% 20%;
    --primary: 275 100% 25%;
    --primary-foreground: 240 20% 98%;
    --secondary: 240 30% 90%;
    --secondary-foreground: 275 100% 25%;
    --muted: 240 30% 90%;
    --muted-foreground: 240 10% 45%;
    --accent: 300 100% 50%;
    --accent-foreground: 300 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 85%;
    --input: 240 20% 88%;
    --ring: 300 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 275 15% 10%;
    --foreground: 240 20% 96%;
    --card: 275 15% 12%;
    --card-foreground: 240 20% 96%;
    --popover: 275 15% 10%;
    --popover-foreground: 240 20% 96%;
    --primary: 300 100% 70%;
    --primary-foreground: 300 100% 10%;
    --secondary: 275 15% 20%;
    --secondary-foreground: 240 20% 98%;
    --muted: 275 15% 20%;
    --muted-foreground: 240 10% 60%;
    --accent: 300 100% 50%;
    --accent-foreground: 300 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 15% 25%;
    --input: 275 15% 25%;
    --ring: 300 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
